.container-cantidad{
    border-style: solid;
    border-color: aqua;
    width: 500px;
    height: 120px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.container-orden{
    height: 330px;
    width: 350px;
    border-style: solid;
    border-color: aqua;
    text-align: center;
    margin: auto;

}
#Button-cal{
padding: 10px;
color:white;
background-color: red;
}

#title-almacen{
    text-align: center;
    font-size: 75px;
    color: rgb(147, 202, 238);
}

#subtitle-almacen{
    text-align: center;
    font-size: 45px;
    color: rgb(0, 0, 0);
}


#logo{
    width: 80px;
    height: 80px;
}

#msj-d{
    color: red;
}

#vd{
    color: red;
}